{% extends "layout.html" %}

{% block title %}
    Character Creator
{% endblock %}

{% block main %}


    <div class="row cs50">
        <!-- https://getbootstrap.com/docs/4.1/components/alerts/ -->
        <div class="alert alert-info mb-2">
            <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
            <h1 class="alert-heading mb-1">Campaign Creator</h1>
            <div class="row text-left spac_sm mx-2">
                &bull; Welcome to the campaign creator, by creating a campaign you will be automatically set as its dungeon master.<br>
                &bull; As the dm, you will have special privileges to edit the campaign, remove players, and view character backstories.<br>
                &bull; Each account has a limit of ten campaigns you can create. Player count cannot be set higher than 20.
            </div>
        </div>
    </div>

    <div class="text-left">
        <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
        <form action="/camp_gen" method="post" class="needs-validation" novalidate>

            <!-- http://getbootstrap.com/docs/4.1/layout/grid/ -->
            <div class="row justify-content-lg-center">
                <!-- http://getbootstrap.com/docs/4.1/components/forms/#form-controls -->
                <div class="form-group col-lg-4 mb-4">
                    <label for="camp_name" class="spacing">Campaign Name:</label>
                    <input class="form-control" id="camp_name" name="camp_name" type="text" placeholder="Bloodbath & Beyond" maxlength="50" autofocus required>
                    <!-- https://getbootstrap.com/docs/4.1/components/forms/#validation -->
                    <div class="invalid-feedback relative">
                        Please provide campaign name.
                    </div>
                </div>
                <div class="form-group col-lg-4 mb-4">
                    <label for="setting">Setting / Adventure:</label>
                    <input class="form-control" id="setting" name="setting" type="text" placeholder="Sword Coast" maxlength="50" required>
                    <div class="invalid-feedback relative">
                        Please provide setting / adventure.
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group col-lg-4 mb-4">
                    <label for="freq" class="spacing">Game Frequency:</label>
                    <select class="custom-select" id="freq" name="freq">
                        <option value="TBD" selected>To be determined</option>
                        <option value="2/week">Twice a week</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Biweekly">Biweekly(every other)</option>
                        <option value="2/month">Twice a month(e.g. 1st & 3rd Sat)</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Bimonthly">Bimonthy(every other)</option>
                        <option value="Other">Other(fixed schedule)</option>
                        <option value="Variable">Variable(changing schedule)</option>
                    </select>
                </div>

                <div class="form-group col-lg-4 mb-4">
                    <label for="day" class="spacing">Game Day:</label>
                    <select class="custom-select" id="day" name="day">
                        <option value="TBD" selected>To be determined</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Multi-day">2 or more days a week</option>
                        <option value="Variable">Variable(changing schedule)</option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group col-auto mb-4">
                    <label for="time" class="spacing">Game Time:</label>
                    <input class="form-control" id="time" name="time" type="time" maxlength="8" autocomplete="off" pattern="(^[01]\d:[0-5]\d [AP]M)">
                    <div class="invalid-feedback relative">
                        Format: 00:00 AM/PM
                    </div>
                </div>

                <div class="form-group col-auto mb-4">
                    <label for="zone" class="spacing">Time Zone:</label>
                    <input class="form-control" id="zone" name="zone" type="text" placeholder="GMT" maxlength="5" pattern="(^[a-zA-Z]{2,5})" required>
                    <div class="invalid-feedback relative">
                        Please provide time zone.
                    </div>
                </div>

                <div class="form-group col-auto mb-4">
                    <label for="max" class="spacing">Player Count:</label>
                    <input class="form-control" id="max" name="max" type="number" value="4" min="1" max="20" step="1">
                    <div class="invalid-feedback relative">
                        Range: 1-20
                    </div>
                </div>
            </div>

            <div class="row justify-content-lg-center">
                <div class="form-group col-lg-8">
                    <label for="details" class="spacing">Additional Details:</label>
                    <textarea class="form-control" id="details" name="details" maxlength="1000" rows="5" aria-describedby="detailsHelpText" autocomplete="off" data-toggle="tooltip" data-placement="bottom" title="Click & drag bottom right corner to expand"></textarea>
                    <small class="form-text text-muted text-right" id="detailsHelpText">1000 character limit.</small>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
                <button class="btn btn-info" type="submit" aria-label="Submit button">Submit</button>
            </div>
        </form>
    </div>

    <script>
        /* https://getbootstrap.com/docs/4.1/components/forms/#custom-styles */
        /* Validates all individual text fields and select menus */
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                    form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}
